* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --orange: #F2C14E;
    --winning-blocks: #2d414b;
}

body {
    color: var(--orange);
    font-family: 'Finger Paint', cursive;
}

h1 {
    font-size: 54px;
    text-transform: uppercase;
}

.container {
    padding: 401px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #37505C;
}

.game-square {
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.box {
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--orange);
    font-size: 120px;
    border-right: 2px solid;
    border-bottom: 2px solid;

}

.box:nth-child(3n) {
    border-right: none;
}

.box:nth-child(6) ~ .box {
    border-bottom: none;
}

.container input {
    padding: 10px 10px;
    border-radius: 10px;
    background-color: var(--orange);
    color: #333;
    border-color: var(--orange);
    font-size: 18px;
    transition: 200ms transform;
    font-weight: 600;

} 

.container input:hover {
    cursor: pointer;
    transform: translateY(-2px);
}